/* font family */

body{
  font-family: "Open Sans", sans-serif;
}


/* header part */
.header-body{
   background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    /* padding-top:30px; */
}    
/* nabar part  */
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 50px;
}
nav>ul{
    display: flex;      
    font-weight: 400;
    font-size: 20px;
    gap: 30px;
   align-items: center;

}
nav li{
  list-style: none;


}
nav li a{
      text-decoration: none;
       color: #474747;
}
.h-title{
    font-weight: 800;
    font-size: 45px;
}
span{
     color: #fd6e0a;
}
.btn-primariy{
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color:#fff ;
    font-size: 20px;
    padding: 25px ;
}
/* banner part start */
.bannar{
    display: flex;
    justify-content: space-between;
}

.button{
    display:flex;
    gap: 30px;
}
.baneer-part{
    margin-left:150px ;
    margin-right: 50px;
    padding-top: 70px;
}
.banar-contain{
    width: 585px;
    height: 356px;
    padding-top:185px;

    /* align-items: center; */
    /* padding-bottom: 30px; */
}
.bannar-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
}
.banner-img{
    width: 584px;
    height: 676px;  
}

/* about section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* .about-section{
    text-align: ;
     height: 550px;
    margin: 150px auto;
} */
/* .about-contain{
   text-align: center;
   border-radius: 10px;
    width: 1140px;
   
    background-color: #dbb193;
    padding-top: 50px auto;
}
.about-title{
   /* */
/* font-weight: 700;
font-size: 35px;
color: #181818;
}
.about-p{
   
font-weight: 400;
font-size: 18px; */
/* text-align: center;
color:#757575;
}
.about-item-container {
    display: flex;
    padding-right: 50px;
    justify-content: space-around;

}
.about-item{
    padding-right: 100px;
    padding-left: 100px;
  
} */ 
 /* what i do section */
 .what-i-do-container{
    display: flex;
    gap: 30px;
    margin-top: 60px;
 }
 .what-i-do-item{
    border-radius: 5px;
    width: 267px;
    height: 377px;
    box-shadow: 0 6px 50px 0 rgba(35, 33, 33, 0.06);
    background: #FFFFFF;
    padding: 30px;
 }
 .what-i-heading{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color:#181818;
}
.what-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color:#757575;
}
.what-i-do-heading{
font-weight: 700;
font-size: 20px;
/* text-align: center; */
color:#181818;
padding-top: 30px;
}
.what-i-do-paragraph{
font-weight: 400;
padding-top: 20px;
font-size: 16px;
line-height: 175%;
color:#757575;
}
